/* General */

.container {
  width: 960px;
}


/* Header */

.header {
  background-image: url('dotshade.png');   
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid black/*#ddd*/;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 16px;
  padding: 10px;
}

h1 {
    font-size: 30px;
    font-family:cursive;
    font-weight: 900;
}

p {
    font-size: 13.5px;
    font-weight: 700;
}

body {
  background-image: url('dotshade.png');   
}
 
.para1 {
    text-align: center;
    padding-top: 23rem;
    padding-left: 13rem;
    font-size: 23px;
    font-weight: 700;
    font-family: cursive;
}

.para2 {
    text-align: center;
    font-size: 100px;
    font-weight: 700;
    font-family: cursive;
}
/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: black/*#898989*/;
}

section .row .redpillow {
  /*width: 100%;*/
  border-radius: 50px;
  border: .5rem solid pink/*#73AD21*/;
}

.col-xs-6 {
  margin: 0 0 10px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-xs-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
