/* General */

.container {
  width: 960px;
}


/* Header */

.header {
  background-image: url('dotshade.png');   
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid black/*#ddd*/;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 16px;
  padding: 10px;
  /*margin-bottom: 15px;*/
}

h1{
    font-size:30px;
    font-weight: 900;
    font-family: cursive;
}

h2{
    font-size:2rem;
    padding-left:2rem;
    font-weight: 600;
    font-family: cursive;
}

body {
  background-image: url('dotshade.png');   
}

p {
    font-size: 13.5px;
    font-weight: 700;
}
/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: black/*#898989*/;
}

section .row img {
  width: 100%;
  border-radius: 50px;
  /*border: 1.7px solid black*//*#73AD21*/;
}

.col-xs-4 {
  margin: 0 0 10px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-xs-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}

/*====================================
=            masonry Page            =
====================================*/

.masonry {
    display: block;
    -webkit-column-gap: 2.25rem;
    -moz-column-gap: 2.25rem;
    column-gap: 2rem;
    padding-right: 4.5rem;
}
/* 5 columns */

.masonry.masonry-columns-5 {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}
@media(max-width: 1170px) {
    .masonry.masonry-columns-5 {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
/*-4 columns------*/

.masonry.masonry-columns-4 {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
/*-3 columns------*/

.masonry.masonry-columns-3 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
/*-2 columns------*/

.masonry.masonry-columns-2 {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
/*-1 columns------*/

.masonry.masonry-columns-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
/*--------Responsive---------*/

@media(max-width: 991px) {
    .masonry.masonry-columns-4, .masonry.masonry-columns-5 {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media(max-width: 767px) {
    .masonry.masonry-columns-4, .masonry.masonry-columns-5, .masonry.masonry-columns-3 {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media(max-width: 540px) {
    .masonry.masonry-columns-4, .masonry.masonry-columns-5, .masonry.masonry-columns-3, .masonry.masonry-columns-2 {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
.masonry .masonry-item {
    /*display: inline-block !important;*/
    /*width: 100% !important;
    max-width: 100% !important;*/
    /*position: relative;*/
    /*display: block;*/
    /*padding: 3px;*/
    background-color: lightpink;*/
    /*border: 1px solid #e5e5e5;*/
    /*border-radius: ./*25rem;*/
    /*float: none !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;*/
    margin-bottom: .75rem !important;
}

.masonry .masonry-item {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    padding: 0px; !Ichangedhere10px;
    border: 1px solid transparent;
    transition: all .15s ease-in-out;
    text-align: center;
    font-family: cursive;
}
.masonry .masonry-item:hover {
    border: 5px solid transparent;/*#f0f0f0;*/
}
.masonry .masonry-item .post-title {
    font-size: 20px;
}
.masonry .masonry-item .post-info {
    color: #999;
    text-transform: uppercase;
}
.masonry .media {
    padding-bottom: 1.5px;
}
.masonry .masonry-item p2 {
    color: black;
    font-size: 14px;
    font-weight: 700;
    /*padding-left: 10px;*/
}
.masonry .masonry-item .read-more {
    color: #27c2aa;
}
.masonry .masonry-item .tag-comment {
    border-top: 1px solid #f0f0f0;
    margin-top: 10px;
    padding: 5px 0;
    color: #999;
}
/*=====  End of masonry Page  ======*/