/* General */

.container {
  width: 960px;
}


/* Header */

.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid blue/*#ddd*/;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
}


/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: black/*#898989*/;
}

section .row img {
  width: 100%;
  border-radius: 25px;
  border: 1.7px solid black/*#73AD21*/;
}

.col-xs-6 {
  margin: 0 0 10px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-xs-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
