/* General */
body {
background-image: url('dotshade.png');   
}

.container {
  width: 960px; 
}

/*
.header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  font-size: 17px;
  padding: 10px;
}

.header h1{
    
    margin-top: 10px;
    font-size: 40px;
}
*/
/* Header */
.header {
   padding: 10px;
background-image: url('dotshade.png');   
   background-color: rgba(255, 255, 255, 0.95);
   border-bottom: 2.5px solid black/*#ddd*/;
   font-family: 'Oswald', sans-serif;
   font-weight: 300;
   font-size: 16px;
}

/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin-top: 5px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a {
  color: black/*#898989*/;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

/* Button */
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: royalblue;#428bca;
}

.btn-primary.btn-outline:hover {
    color: #fff;
    border-color: hotpink;
    background-color: pink;
}


/* Carousel */

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  /*border-bottom: 1px solid #ddd;*/
}

.slide {
  /*background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;*/
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.row-slide {
  border-bottom: 2px solid black; 
  border-left: 2px solid black;  
  border-right: 2px solid black;      
}

 .slide-firstpartone {
  text-align: center;
  background-image: url('https://github.com/lifeofasa/lifeofasa.github.io/blob/master/bestasa.jpg?raw=true');
  background-size:cover;
  height: 470px;
  width: 75%;
  background-position: -75px;    
}

 .slide-firstparttwo {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 25%;    
}

 .slide-firstparttwo h1 {
    margin-top: 130px;
}

 .slide-secpartone {
  text-align: center;
  background-image: url('photocombine.jpg');
  background-size:cover;
  height: 470px;
  width: 50%;    
  /*background-position: -75px;*/
}

 .slide-secparttwo {
  text-align: center;
  background-image: url('asaswingcut2.JPG');
  background-size:cover;
  height: 470px;
  width: 34%;
  margin-right: 2px;
  margin-left: 1.5px;
  /*background-position: -75px;*/
}

 .slide-secpartthree {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 15.63644%;
}

 .slide-secpartthree h1 {
    margin-top: 130px;
    font-size: 35px;
}

 .slide-videopartone {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 70%;
  padding-left: 0px;
  padding-right: 0px;
}

 .slide-videoparttwo {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 30%;
}

 .slide-video h1 {
    margin-top: 130px;
    font-size: 35px;
    text-align: center;
}

 .slide-snapchatparttwo {
  text-align: center;
  background-image: url('asasnap1.1.jpg');
  background-size:cover;
  height: 470px;
  width: 71%;
}

 .slide-snapchatpartthree {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 29%;
}

 .slide-snapchat h1 {
    margin-top: 130px;
    font-size: 35px;
    text-align: center;
}
 .slide-snapchat p {
    text-align: center;
    font-size: 20px 
}
 .slide-snapchat p2 {
    text-align: center;
    font-size: 15px 
}
/*
 .slide-videopartone {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 75%;
  background-position: -75px;
}

 .slide-videoparttwo {
  text-align: center;
  background-image: url('greenshade.JPG');
  background-size:cover;
  height: 470px;
  width: 25%;
}

 .slide-videoparttwo h1 {
    margin-top: 130px;
}
*/

/*
.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}
*/


/* Slide feature */

/*
.slide-feature .container{
  text-align:center;
  background-image: url('https://github.com/lifeofasa/lifeofasa.github.io/blob/master/bestasa.jpg?raw=true');
  height: 470px;
  background-size: cover;
}

.slide-feature h1{
  display: block;
  color: skyblue;
  margin-left: 725px;
  margin-top:100px;
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 23px;
}

.slide-feature p{
  display: block;
  color: skyblue;
  margin-left: 725px;
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 23px;
}*/

.slider-nav {
  text-align: center;
  margin-top: 20px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: pink/*#bbbcbc*/;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* App links */

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}

footer {
  font-size: 12px;
  font-weight: 700;
  margin-top: 500px;
}

footer .col-xs-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}