body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;  
  background-color: /*#ccffff*/
 #e6ffff;			/*#d6f5d6;*/
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

/*.row img {
  margin: 0 0 30px;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #73AD21;	  
}*/

.intro {
  padding-top: 35%;
  font-size: 37px;
  text-shadow: .25px 0.25px 0.25px #000000;
  font-weight: 500;
  margin: 0;
  color: black;
  text-align: center;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  border-radius: 25px;
  border: 1.7px solid black/*#73AD21*/;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}
